body{
    margin: 0;
    padding:0;
}

.content-body{
    /* background-color: #6dc9ff; */
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}
.content-calculator{
    width: 400px;
    height: 450px;
    background-color: #aaaaaa ;
    border-radius: 10px;
    box-shadow: 2px 1px 29px 6px rgb(0,0,0,0.3);
    padding: 20px 15px;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-template-rows: 85px;
    grid-gap:20px;
}


.screen{
    background-color: #414141;
    border-radius: 10px;
    color: #57e8ff;
    padding : 15px;
    grid-column: 1/5;


}


.screen > input{
    background: none;
    color:inherit;
    border: none;
    padding: 0;
    outline: inherit;
    font-size: 50px;
    width: 100%;

}

.btn-cal{
    background-color: white;
}

.btn-cal-radius{
    border-radius: 10px;
}

.btn-cal > input{
    border:0;
    height: 100%;
    width: 100%;
    border-radius: 10px;
    outline:none;
    color: #7e7e7e;
    font-size: 35px;
}
.btn-cal :hover{
    cursor:pointer;
}

.btn-cal>.equal{
    background-color: #e9e69b;}

.btn-cal>.clean{
    background-color: #98f8ab;
}
.btn-cal>.backspace{
    background-color: #dc7b6a;
    color:white
}

.btn-cal :hover{
    transition-duration: 0.4s;
    background-color: #ffb497;
    color:white;
}
.btn-clean :hover{
    transition-duration: 0.4s;
    background-color: #66f789;
    color:white;
}
.btn-equal :hover{
    transition-duration: 0.4s;
    background-color: #fffb59;
    color:black;
}
.btn-backspace :hover{
    transition-duration: 0.4s;
    background-color: #ff0000;
    color:black;
}